@mixin font ($family, $size, $weight, $letter-spacing) {
    font-family: $family, sans-serif;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter-spacing;
}

$border:3px solid #2caee2;
// 'Source Sans Pro', sans-serif;
.logo_holder {
    margin-bottom: 60px;
    .logo {
        width: 570px;
        height: 100px;
        margin: 50px auto 25px;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
    }
}

.aboutrow {
    margin-bottom: 50px;
    .content {
        @include font('Source Sans Pro', 16px, 400, 0);
        text-align: justify;
        line-height: 24px;
        width: 72%;
    }
}

.labelt {
    @include font('Source Sans Pro', 42px, 400, 0);
    width: 200px;
    line-height: 107px;
    height: 107px;
    text-align: center;
    margin: 0 auto;
    border-left: $border;
}

#contact {
    width: 100%;
    fieldset.labeled_group {
        float: left;
    }
    fieldset.email_group {
        width: 225px;
    }
    label {
        width: 44px;
        height: 44px;
        background-color: #1991eb;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 50%;
        position: absolute;
    }
    input, textarea {
        border: 1px solid #3b4a4d;
        @include font('Source Sans Pro', 12px, 600, 0.025em);
        line-height: 35px;
    }
    input#name, input#email {
        width: 225px;
        height: 44px;
        padding-left: 48px;
        display: block;
        margin: 0 20px 20px 0;
    }
    textarea#subject {
        width: 225px;
        height: 108px;
        resize: none;
    }
    input#submit {
        border: 0;
        background-color: #1991eb;
        color: white;
        float: right;
        width: 170px;
        height: 44px;
        @include font('Source Sans Pro', 24px, 400, 0);
        text-align: center;
        line-height: 44px;
        margin-top: 15px;
        font-variant: small-caps;
    }
}

label[for="name"] {
    background-image: url(../img/person.png);
}

label[for="email"] {
    background-image: url(../img/mail.png);
}